<div class="login-container">
  <h2 class="login-title">
    {{ isRegistered ? 'Login' : 'Registrazione' }}
  </h2>

  @if (error) {
  <p class="error-text">{{ error }}</p>
  }

  <form [formGroup]="loginForm"  (ngSubmit)="isRegistered ? onLogin() : onRegister()" class="login-form">
    @if (!isRegistered) {
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      [placeholder]="'LOGIN.MAIL_PLACEHOLDER' | translate"
      formControlName="email"
    />
    }
    <label for="username">Username</label>
    <input
      id="username"
      type="username"
      [placeholder]="'LOGIN.USERNAME_PLACEHOLDER' | translate"
      formControlName="username"
    />

    <!-- REGISTER -->
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate"
      formControlName="password"
    />

    @if (!isRegistered) {
    <label for="confirmPassword">Conferma password</label>
    <input
      id="confirmPassword"
      type="password"
      placeholder="Conferma la password"
      formControlName="confirmPassword"
    />
    }

    <div class="login-actions">
      <button type="submit">
        {{ isRegistered ? 'Login' : 'Registrati' }}
      </button>

      @if (isRegistered) {
      <p class="register-text">
        Non sei ancora registrato?
        <a class="register-link" (click)="isRegistered = false">Registrati qui!</a>
      </p>
      }@else {
        <p class="register-text">
        Sei già registrato?
        <a class="register-link" (click)="isRegistered = true">Accedi!</a>
      </p>
      }
    </div>
  </form>
</div>
