.graph-wrapper {
  width: 100%;
  margin: 40px auto 0;
  color: var(--color-text-main);
}

.graph-title {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0 0 16px 20px;
  text-align: left;
  color: var(--color-text-main);
}

.chart-container {
  margin-bottom: 50px;
}

.yearChartCanvas,
.countryChartCanvas {
  height: 350px;
}
