
.graph-wrapper {
  width: 100%;
  margin: 40px auto 0;
}

h3 {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: 24px;
}

.graph-title {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 20px;
}

.chart-container {
  margin-bottom: 50px;
}

.yearChartCanvas {
  height: 350px;
}