<section class="add-travel-page">
  <div class="add-travel-container">
    <h2 class="add-travel-title">
      {{ (isEditMode ? 'NEW_TRAVEL.TITLE_M' : 'NEW_TRAVEL.TITLE') | translate }}
      <span>
        {{ (isEditMode ? 'NEW_TRAVEL.SUBTITLE_M' : 'NEW_TRAVEL.SUBTITLE') | translate }}
      </span>
    </h2>

    <form class="add-travel-form" [formGroup]="formAddTravel" (ngSubmit)="onAddTravel()">
      <div class="form-row">
        <div class="form-group">
          <label for="city">{{ 'NEW_TRAVEL.CITY' | translate }}</label>
          <input
            id="city"
            type="text"
            [placeholder]="'NEW_TRAVEL.CITY_PLACEHOLDER' | translate"
            formControlName="city"
          />
        </div>

        <div class="form-group">
          <label for="country">{{ 'NEW_TRAVEL.COUNTRY' | translate }}</label>
          <input
            id="country"
            type="text"
            [placeholder]="'NEW_TRAVEL.COUNTRY_PLACEHOLDER' | translate"
            formControlName="country"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="year">{{ 'NEW_TRAVEL.YEAR' | translate }}</label>
          <input
            id="year"
            type="number"
            min="2006"
            max="2100"
            [placeholder]="'NEW_TRAVEL.YEAR_PLACEHOLDER' | translate"
            formControlName="year"
          />
        </div>

        <div class="form-group">
          <label for="rating">{{ 'NEW_TRAVEL.RATING' | translate }}</label>
          <input
            id="rating"
            type="number"
            min="1"
            max="5"
            step="0.1"
            [placeholder]="'NEW_TRAVEL.RATING_PLACEHOLDER' | translate"
            formControlName="rating"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="optionsList" class="fw-semibold text-success mb-2">{{
            'NEW_TRAVEL.TYPE' | translate
          }}</label>
          <input
            class="form-control mb-4 border-success-subtle shadow-sm"
            list="optionTypes"
            id="optionsList"
            [placeholder]="'NEW_TRAVEL.TYPE_PLACEHOLDER' | translate"
            formControlName="type"
          />
          <datalist id="optionTypes">
            <option value="Y">Già visitato</option>
            <option value="N">Da visitare</option>
          </datalist>
        </div>
      </div>

      <div class="form-group">
        <label for="image">{{ 'NEW_TRAVEL.URL' | translate }}</label>
        <input
          id="image"
          type="url"
          [placeholder]="'NEW_TRAVEL.URL_PLACEHOLDER' | translate"
          formControlName="image"
        />
      </div>

      <div class="form-group">
        <label for="description">{{ 'NEW_TRAVEL.DESCRIPTION' | translate }}</label>
        <textarea
          id="description"
          rows="3"
          [placeholder]="'NEW_TRAVEL.DESCRIPTION_PLACEHOLDER' | translate"
          formControlName="description"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="highlights">{{ 'NEW_TRAVEL.HIGHLIGHTS' | translate }}</label>
        <textarea
          id="highlights"
          rows="3"
          [placeholder]="'NEW_TRAVEL.HIGHLIGHTS_PLACEHOLDER' | translate"
          formControlName="highlights"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="activities">{{ 'NEW_TRAVEL.ACTIVITIES' | translate }}</label>
        <textarea
          id="activities"
          rows="3"
          [placeholder]="'NEW_TRAVEL.ACTIVITIES_PLACEHOLDER' | translate"
          formControlName="activities"
        ></textarea>
      </div>

      <div class="form-group-group-title">{{ 'NEW_TRAVEL.FOOD_TITLE' | translate }}</div>

      <div class="form-row" formGroupName="food">
        <div class="form-group">
          <label for="foodDish">{{ 'NEW_TRAVEL.FOOD' | translate }}</label>
          <input
            id="foodDish"
            type="text"
            [placeholder]="'NEW_TRAVEL.FOOD_PLACEHOLDER' | translate"
            formControlName="dish"
          />
        </div>

        <div class="form-group">
          <label for="foodPlace">{{ 'NEW_TRAVEL.PLACE' | translate }}</label>
          <input
            id="foodPlace"
            type="text"
            [placeholder]="'NEW_TRAVEL.PLACE_PLACEHOLDER' | translate"
            formControlName="place"
          />
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-primary">
          {{ 'NEW_TRAVEL.SAVE' | translate }}
        </button>
        <button type="button" class="btn-ghost" routerLink="/visited-alltravels">
          {{ 'NEW_TRAVEL.CANCEL' | translate }}
        </button>
      </div>
    </form>
  </div>
</section>
