<div class="background">
  <section>
    <app-filters (onFilter)="reload($event)" />
  </section>

  @if (loading()) {
  <p class="loading-text" style="color: #e2d2c2">{{ 'GENERAL.LOADING' | translate }}</p>
  } @else {
  <div class="travels-grid">
    @for (travel of travels(); track travel.id) {
    <app-visited-travels [travel]="travel"></app-visited-travels>
    }@empty { @if(isFiltersActive()){
    <p>Non ci sono viaggi caricati , Aggiungi un nuovo viaggio!</p>
    }@else{
    <p>Non ci sono viaggi caricati con questi filtri</p>
    } }
  </div>
  }
</div>
