body,
html {
  overflow-x: hidden;
}

.auth-page {
  width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  background-image: url('https://i.pinimg.com/1200x/6d/6a/6d/6d6a6dafab5aa47aee486f4bd88667a9.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .auth-page {
    padding: 16px 12px;
    background-attachment: scroll;
  }
}
