body,
html {
  overflow-x: hidden;
}

.auth-page {
  width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  background-image: var(--auth-bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .auth-page {
    padding: 16px 12px;
    background-attachment: scroll;
  }
}
