<form [formGroup]="formFilter">
  <section>
    <div class="search-container">
      <nav class="navbar">
        <div class="search-form" role="search">
          <input
            type="text"
            [placeholder]="'FILTERS.SEARCHBAR_PLACEHOLDER' | translate"
            name="search"
            #searchInput
            formControlName="search"
          />
        </div>
      </nav>
    </div>
  </section>

  <div class="search-container-filter">
    <div class="filters-bar">
      <div class="filter-control">
        <label for="countryFilter">{{ 'FILTERS.COUNTRY' | translate }}</label>
        <select id="countryFilter" #countrySelect formControlName="country">
          <option value="">{{ 'FILTERS.ALL' | translate }}</option>
          @for (country of countries(); track country) {
          <option>{{ country }}</option>
          }
        </select>
      </div>

      <div class="filter-control">
        <label for="yearFilter">{{ 'FILTERS.YEAR' | translate }}</label>
        <select id="yearFilter" #yearSelect formControlName="year">
          <option value="null">{{ 'FILTERS.ALL' | translate }}</option>
          @for (year of years(); track year) {
          <option>{{ year }}</option>
          }
        </select>
      </div>

      <div class="filter-control">
        <label for="ratingFilter">{{ 'FILTERS.RATING' | translate }}</label>
        <select id="ratingFilter" #ratingSelect formControlName="rating">
          <option value="">{{ 'FILTERS.ALL' | translate }}</option>
          <option value="5">⭐ Solo 5 stelle</option>
          <option value="4-5">⭐ Da 4 a 5</option>
          <option value="3-4">⭐ Da 3 a 4</option>
          <option value="2-3">⭐ Da 2 a 3</option>
          <option value="1-2">⭐ Da 1 a 2</option>
        </select>
      </div>

      @if(router.url === '/visited-alltravels'){
      <div class="filter-control">
        <label for="userFilter">{{ 'FILTERS.USER' | translate }}</label>
        <select id="userFilter" #authorSelect formControlName="author">
          <option value="">{{ 'FILTERS.ALL' | translate }}</option>
          @for (user of author(); track user) {
          <option>{{ user }}</option>
          }
        </select>
      </div>
      }
    </div>
  </div>
</form>
