// :root {
//   --background-color: #{$color-light-background};
//   --text-color: #{$color-light-text};
// }

// .dark-mode {
//   --background-color: #{$color-dark-background};
//   --text-color: #{$color-dark-text};
// }

body {
   font-family: 'Poppins', Arial, sans-serif;
   margin: 0;
  padding: 0;
   background: #f8fafc;
 }

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
