.latest-destinations {
  padding: 30px 24px;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  color: var(--color-text-main);
  background: var(--color-bg-body-lighter);
}

.latest-destinations h2 {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 24px;
  color: var(--color-text-main);
}
.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

// .cards {
//   display: flex;
//   gap: 10px;
//   overflow: hidden;
//   scroll-behavior: smooth;
//   padding: 6px;
//   margin-bottom: 30px;
// }

// .latest-destinations .loading-text,
// .latest-destinations .empty-text,
// .latest-destinations p.status-text {
//   margin-top: 100px;
//   text-align: center;
//   font-size: 1rem;
//   color: var(--color-text-muted);
// }
